@page
@model GescomSaas.Web.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Deconnexion";
}

<h1>Vous etes deconnecte</h1>
<p>Votre session a ete fermee en toute securite.</p>

<a class="btn btn-primary w-100" asp-area="Identity" asp-page="/Account/Login">Se connecter</a>
